In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\kimhi\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kimhi\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kimhi\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kimhi\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kimhi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kimhi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
growth = pd.Series([143,150,157,160], index=['2018','2019','2020','2020'])
growth

2018    143
2019    150
2020    157
2020    160
dtype: int64

In [8]:
growth['2020']

2020    157
2020    160
dtype: int64

In [9]:
print(growth.values)
print(growth.values[0])

[143 150 157 160]
143

In [11]:
print(growth.index)
print(growth.index[0])

Index(['2018', '2019', '2020', '2020'], dtype='object')
2018

In [15]:
growth = pd.Series([143,150,157,160], name='신청')
growth

0    143
1    150
2    157
3    160
Name: 신청, dtype: int64

In [16]:
growth[0]

143

In [10]:
index = ['2018','2019','2020','2021']
Y = pd.Series([143,150,157,160], index=index)
C = pd.Series([165,172,175,180], index=index)
growth = pd.DataFrame({
    '영희' : Y,
    '철수' : C
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [29]:
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [165,172,175,180]
}
growth = pd.DataFrame(data, index=index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [14]:
index = ['2018','2019','2020','2021']
data = {
    '영희' : [143,150,157,160],
    '철수' : [165,172,175,180]
}
growth = pd.DataFrame(data, index=index)

growth['영희'].idxmax()
growth['철수'].idxmin()

'2018'

In [14]:
print(growth.dtypes)

영희    int64
철수    int64
dtype: object

In [12]:
growth.astype('float')

         영희     철수
2018  143.0  165.0
2019  150.0  172.0
2020  157.0  175.0
2021  160.0  180.0

In [13]:
growth.astype({'영희':'float'})

         영희   철수
2018  143.0  165
2019  150.0  172
2020  157.0  175
2021  160.0  180

In [23]:
pd.read_csv('1.csv')

    A   B  C
0  30  21  9
1  11   2  3

In [26]:
pd.read_csv("1.csv", index_col=0) # 0번 컬럼을 인덱스로 쓴다

     A   B  C
0   30  21  9
10  11   2  3

In [27]:
growth.to_csv('output.csv')

In [15]:
index = ['영희', '철수', '영철']
data = {
    '2018' : [143,150,157],
    '2019' : [165,172,175],
    '2020' : [175,125,160]
}
growth = pd.DataFrame(data, index=index)

print(growth)

    2018  2019  2020
영희   143   165   175
철수   150   172   125
영철   157   175   160